.product {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
  font-family: 'Inter', sans-serif;
    width: 99vw;
    gap: 1rem;
    box-sizing: border-box;
    background-color: #F6E8FE ;
}
:host ::ng-deep .p-card .p-card-footer {
    padding: 0 !important;
}

:host ::ng-deep .p-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0 !important;
    
}
:host ::ng-deep .p-button.w-full {
    border-radius:7px; 
    width: 100%;
    color: #9D58F5;
    border: solid #9D58F5 2px;
    
}
:host ::ng-deep .custom-card .p-button:hover {
    background-color: #9D58F5 !important; 
    color: #ffffff !important; 
    border-color: #ffffff !important;
}


.card{
    width: 100%;
}


.top {
    width: 100%;
    display: flex;
    justify-content: start; 
    align-items: center; 
    gap: 0%;
  
}

.message-container {
    display: flex;
    justify-content: center;  
    width: 100%;           
    margin: 20px 0;        
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: #f3e5f5 !important; 
    color: #9D58F5 !important;
    border: solid 1px  #9D58F5 ;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight) {
   color: #ffffff;
    background-color: #9D58F5 !important; 
}

