
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6E8FE;
    padding: 1%;
}