.box-content{
    width: 99vw;
    min-height: 40vh;
    background-color:#F6E8FE ;
    font-family: 'Inter', sans-serif;
    padding: 2%;
    display: flex;
   flex-direction: column;
   gap: 5%;
   font-size: 1.2rem;
   color: rgb(41, 22, 59) ;
}