
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box_content{
    background-color:#F6E8FE ;
    width: 97vw;
}

:host ::ng-deep {
    // צבע המעבר על הפריטים הראשיים (Home, Products וכו')
    // .p-megamenu-root-list > .p-menuitem > .p-menuitem-content:hover {
    //     background: #7baa1d !important; // סגול בהיר מאוד לרקע
    //     // color: #ffffff !important;      // סגול כהה לטקסט
    // }

    // צבע המעבר על הפריטים בתוך התפריט הנפתח
    .p-megamenu-item-content:hover {
        background: #f3e5f5 !important;
        color: #8d0a86 !important;
    }
}

