
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box_content{
    background-color:#F6E8FE ;
    width: 97vw;
}

:host ::ng-deep {
    .p-megamenu-item-content:hover {
        background: #f3e5f5 !important;
        color: #8d0a86 !important;
    }
}

