.box-content{
    width: 99vw;
   height: 50vh;
    background-color: rgb(41, 22, 59);
    align-items: center;
   font-family: 'Inter', sans-serif;
}
img{
    width: 400px;
    height: 120px;
}
.top{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5%;
    padding: 3%;
    color: white;
}
.buttom{
    width: 100%;
    height: 1px;
    background-color: white;
}
.butto-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    color: white;
}
.left{
    font-size: 0.8rem;
}
.middle{
display: flex;
align-items: center;
justify-content: center;
}
.last{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.middle2{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}